# Dependencies
/vendor

# Storage - Queues and Logs
/storage/*
!/storage/.gitkeep

.idea/
.vscode/

.DS_Store
Thumbs.db

.phpunit.cache/
.phpunit.result.cache
/coverage/

*.csv
*.json
/example/reports/*
